
<div class='col-lg-6'>
  <div class='form-group'>
      <label>Type</label>
      <%= f.select :suspect_type,['Suspect','Accused'],{:prompt =>'Suspect or Accused?'},:class => 'form-control' %>
    </div>
 
  <div class='form-group'>
    <label>Name</label>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <label>Age</label>
    <%= f.text_field :age, :class => 'form-control' %>                                  
  </div>
  <div class='form-group'>
    <label>Sex</label>
    <%= f.select :sex,['Male','Female','Other'],{:prompt => 'Choose one if applicable'},:class => 'form-control' %>                                  
  </div>
  <div class='form-group'>
    <label>Height</label>
    <%= f.select :height,["below 4'10\"","4'10\"","4'11\"","4'12\"","5'0\"","5'1\"","5'2\"","5'3\"","5'4\"","5'5\"","5'6\"","5'7\"","5'8\"","5'9\"","5'10\"","5'11\"","6'0\"","6'1\"","6'2\"","6'3\"","6'4\"","6'5\"","6'6\"","6'7\"","6'8\"","6'9\"","6'10\"","6'11\"","7'0\"","above 7'"],{:prompt => 'Choose one if applicable.'},:class => 'form-control' %>
  </div>
  <div class='form-group'>                               
    <label>Weight</label>
    <%= f.text_field :weight, :class => 'form-control' %>
  </div>
</div><!-- col-lg-6 -->
<div class='col-lg-6'>
  <div class='form-group'>
    <label>Eye Color</label>
    <%= f.select :eye_color,['brown','black','blue','green','other'],{:prompt => 'Choose one if applicable'},:class => 'form-control' %>
  </div>
  <div class='form-group'>                              
    <label>Hair Color</label>
    <%= f.select :hair_color,['black','brown','blonde','grey','red','bald','other'],{:prompt => 'Choose one if applicable'},:class => 'form-control' %>
  </div>
  <div class='form-group'>
    <label>Facial Hair</label>
    <%= f.select :facial_hair,['Beard','Mustache','Both','None'],{:prompt => 'Choose one if applicable.'},:class => 'form-control' %>
  </div>
  <div class='form-group'>                              
    <label>Clothes Description</label>
    <%= f.text_area :clothes_description, :class => 'form-control',:placerholder => "Jeans,Pants,shirt,etc.." %>
  </div>
  <div class='form-group'>
    <label>Other details</label>
    <%= f.text_area :other_details, :class => 'form-control' %>
  </div>
</div><!-- col-lg-6 -->
<!-- row -->
                       